.dashboard {

    width: 92%;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;

    padding-bottom: 40px;
}

.card {

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(16px);

    border-radius: 24px;

    padding: 25px;

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow: 0px 8px 30px rgba(0,0,0,0.25);

    transition: 0.3s;

    overflow: hidden;

    position: relative;
}

.card::before {

    content: "";

    position: absolute;

    width: 180px;

    height: 180px;

    background: rgba(255,255,255,0.05);

    border-radius: 50%;

    top: -60px;

    right: -60px;
}

.card:hover {

    transform: translateY(-6px);

    box-shadow: 0px 10px 35px rgba(139,92,246,0.35);
}

.card h3 {

    font-size: 22px;

    margin-bottom: 18px;

    color: #ffffff;

    position: relative;

    z-index: 2;
}

.card h4 {

    margin-top: 16px;

    margin-bottom: 10px;

    color: #93c5fd;

    position: relative;

    z-index: 2;
}

.card p {

    margin: 6px 0;

    color: #e2e8f0;

    font-size: 14px;

    line-height: 1.6;

    position: relative;

    z-index: 2;
}

.empty {

    text-align: center;

    margin-top: 60px;

    font-size: 24px;

    color: #cbd5e1;
}
.summary-scroll {

    max-height: 500px;

    overflow-y: auto;

    padding-right: 8px;
}

/* CUSTOM SCROLLBAR */

.summary-scroll::-webkit-scrollbar {

    width: 6px;
}

.summary-scroll::-webkit-scrollbar-track {

    background: rgba(255,255,255,0.05);

    border-radius: 10px;
}

.summary-scroll::-webkit-scrollbar-thumb {

    background: #8b5cf6;

    border-radius: 10px;
}

.summary-scroll::-webkit-scrollbar-thumb:hover {

    background: #7c3aed;
}