.upload-container {

    margin: 30px;
}

.upload-container input {

    margin-right: 15px;
}

.upload-container button {

    padding: 10px 18px;

    background-color: #2563eb;

    border: none;

    color: white;

    border-radius: 5px;

    cursor: pointer;
}